.custom-bg{
    background-color:#25252550;
  }

.screenshot{
  width: 25rem;
  height: 16rem;
}

p{
  font-size:large;
}

.img404{
  padding:5px;
  width: 69rem;
  height: 35rem;
}
span {
  display: flex;
  flex-direction: column;
}

.little{
  width: 40px;
  height: 40px;
}

.allinline{
  display: inline-block;
}

.trash{
  width: 30px;
  height: 30px;
}