.App {
  text-align: center;
  background: rgb(0,30,36);
  background: linear-gradient(90deg, rgba(0,30,36,1) 0%, rgba(0,96,115,1) 50%, rgba(0,30,36,1) 100%);
  font-size: calc(10px + 2vmin);
  color: #252525;
}

.App-header {
  background-color: #282c3400;
  min-height: calc(80vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #252525;
}