.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .color-nav{
    background: rgb(0,30,36);
    border: 5px ridge #10879B;
    border-radius: 1px;
  }

  .btn-bg-custom {
    background-color: #08477a!important;
    color: #111111!important;
  }