.bg-transparent{
    background-color: #00000000 !important;
    z-index: 1;
}

.vh-86{
    height:calc(86vh - 2vw);
}

.App-header{
    background-color: #282c3400;
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(32px + 2vmin);
    color: #252525;
}

.h1{
    font-size: calc(72px + 2vmin);
}

p {
    color: #FFFFFF;
    text-shadow: 1px 3px 0 #000000, 1px 13px 10px #000000;
}